<div class="row">
  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/overview">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/dashboard/periodic">Periodic
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/real-time">Real-time</a>
      </li>
    </ul>
  </nav>

  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>Periodic measurements</h1>
    <form>
      <div class="form-row">
        <div class="col">
          <label class="sr-only" for="exampleFormControlSelect1">Reading:</label>
          <select name="reading" placeholder="test" [(ngModel)]="chosenReading" class="form-control" id="exampleFormControlSelect1">
            <option selected>Choose...</option>
            <option *ngFor="let r of readingOptions" [ngValue]="r.id">{{r.name}}</option>
          </select>
        </div>
        <div class="col">
          <label class="sr-only" for="startdate">From:</label>
          <input type="date" name="startdate" (ngModelChange)="startDate = $event" [ngModel]="startDate" class="form-control" id="startdate"
          />
        </div>
        <div class="col">
          <label class="sr-only" for="enddate">To:</label>
          <input type="date" name="enddate" (ngModelChange)="endDate = $event" [ngModel]="endDate" class="form-control" id="enddate"
          />
        </div>
        <div class="col-1">
          <button (click)="filter()" type="submit" class="btn btn-primary">Filter</button>
        </div>
        <div class="col-1">
          <button class="btn btn-success">View</button>
        </div>
        <div class="col-1">
          <button (click)="clear()" class="btn btn-danger">Clear</button>
        </div>
      </div>
    </form>
    <hr>
    <!-- [ngClass]="{'invisible': !showTable, 'visible': showTable}" -->
    <div class="periodic-datatable table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Value</th>
            <th>Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of mockData; let myIndex = index">
            <td>{{myIndex}}</td>
            <td>{{r.timestamp | date:'short'}}</td>
            <td>{{r.typeName}}</td>
            <td>{{r.value}}</td>
            <td>{{r.unit}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>